{% load static %}
<div class="card p-2">
    <div class="row align-items-center">
        <div class="col-md-2">
        <div class="mb-1" style="height: 100px; width: 100px;">
            <img src="{% static answer.img_path %}" class="img-fluid rounded" alt="image">
        </div>
        <div>
            <input type="number" class="form-control" style="width: 60px;" value="{{answer.rating}}">
        </div>
        </div>
        <div class="col">
            <div class="card-body">
                <p class="card-text">{{ answer.text }}</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault{{ answer.id }}" style="pointer-events: none;" {% if answer.is_correct %}checked{% endif %}>
                    <label class="form-check-label user-select-none" for="flexCheckDefault{{ answer.id }}" style="pointer-events: none;">
                    Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>