{% load static %}
{% load right_column %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskSafronov</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">AskSafronov</a>

        <div class="navbarSupportedContent position-relative">
            <form role="search" id="search-form">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    id="search-input"
                    autocomplete="off"
                >
                <div class="dropdown-menu w-100" id="search-results" style="display: none;"></div>
            </form>
        </div>

        <a href="{% url 'ask' %}"><button class="btn btn-outline-success" type="submit">Ask!</button></a>
        {% if user.is_authenticated %}
        {% include "layouts/registered_profile.html" %}
        {% else %}
        {% include "layouts/non_registered_profile.html" %}
        {% endif %}
    </div>
</nav>
<main class="container">
    <div class="row">
        <section class="col-9 content">
            {% block content %}
            {% endblock %}
        </section>

        <aside class="col-3">
            {% show_right_column %}
        </aside>
    </div>
</main>

<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script type="module" src="{% static 'scripts/question_likes.js' %}"></script>
</body>
</html>