{% load static %}
<div class="card p-2">
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="mb-1" style="height: 100px; width: 100px;">
          <img src="{{ question.author.profile.avatar.url }}" class="img-fluid rounded" alt="image">
        </div>
        <div>
          <input type="number" class="form-control" style="width: 100px;" value="{{ question.rating }}">
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <h5><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
          <p class="card-text">{{ question.text }}</p>
          <footer class="d-flex">
            <a href="{% url 'question' question.id %}" class="me-5">answer ({{ question.answers_count }})</a>
            <div class="d-flex gap-3">
              <p>Tags:</p>
              <div class="tags gap-2">
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.name%}"><span class="badge btn text-bg-{{tag.color}}">{{ tag.name }}</span></a>
                {% endfor %}
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>