{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
    {% include "layouts/single_question.html" %}

    <hr>

    <section class="questions row gap-3 mb-3 m-0">
        {% for answer in answers %}
            {% include "layouts/answer.html" %}
        {% endfor %}
    </section>

    {% include "layouts/pagination.html" %}

    <hr>

    {% if user.is_authenticated %}
    {% crispy form %}
    {% endif %}
    </div>
{% endblock %}