{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="mb-5 d-flex">
    <h2 class="me-3">Settings:</h2>
    <h2>Dr. Pepper</h2>
</div>
<form class="col-8">
    <section class="login mb-3">
        <div class="row g-3 align-items-center justify-content-between">
            <div class="col-auto">
                <label class="col-form-label">Login</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Enter your login here...">
            </div>
        </div>
    </section>

    <section class="email mb-3">
        <div class="row g-3 align-items-center justify-content-between">
            <div class="col-auto">
                <label class="col-form-label">Email</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Enter your email here...">
            </div>
        </div>
    </section>

    <section class="nickname mb-3">
        <div class="row g-3 align-items-center justify-content-between">
            <div class="col-auto">
                <label class="col-form-label">NickName</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Enter your nickname here...">
            </div>
        </div>
    </section>

    <section class="avatar">
        <div class="row g-3 justify-content-between">
            <div class="col-auto">
                <label class="col-form-label">Upload avatar</label>
            </div>
            <div class="col-9">
                <div class="border mb-3" style="height: 200px; width: 200px;">
                    <img src="..." class="img-fluid" alt="img">
                </div>
                <input type="file" class="form-control mb-3">
            </div>
        </div>
    </section>
    <button class="btn btn-primary offset-3" type="submit">Save</button>
</form>
{% endblock %}
